#header {
	background-color: #668284;
	width: 97.5%;
	height: 90px;
	margin-top: -20px;
	margin-bottom: 10px;
	position: fixed;
	z-index: 1;
	border-radius: 5px;
}

#logo {
	height: 70px;
	float: left;
	padding-top: 15px;
	/*padding-left: 20px;*/
}


#profilePic {
	height: 70px;
	float: left;
	padding-top: 15px;
	/*padding-left: 20px;*/
}

#logOut {
	height: 67px;
	float: left;
	padding-top: 15px;
}

#search {
	border-radius: 10px;
	float: left;
	width: 560px;
	margin-top: 20px;
	margin-left: 20px;
	text-align: left;
}

#searchByImg {
	height: 20px;
	width: 25px;
	border-left: 100px;
}

#schedule {
	float: right;
	height: 60px;
	padding-right: 150px;
	padding-top: 5px;
}

.left {
	position: relative;
	float: left;
	margin-top: 80px;
	width: 10%;
	height: 520px;
	background-color: #B9D7D9;
	margin-bottom: 10px;
	border-radius: 5px;
}

.right {
	position: relative;
	float: right;
	margin-top: 80px;
	width: 88%;
	height: 520px;
	background-color: #F4EBC3;
	margin-bottom: 10px;
	margin-right: 20px;
	border-radius: 5px;
}

#profile {
	color: grey;
	font-family: Arial, sans-serif;
	font-size: 40px;
	margin-left: 20px;
	margin-top: 20px;
}

.info {
	font-family: Arial, sans-serif;
	font-size: 22px;
	color: #363737;
	background-color: #F4EBC3;
	border-radius: 10px;
	border: solid #F4EBC3 1px;
	width: 400px;
}

#phoneNumber {
	width: 120px;
}

#editNumber {
	width: 100px;
}

.infoType {
	font-family: Arial, sans-serif;
	color: grey;
	font-size: 18px;
}

#profileInfo {
	margin-left: 25px;
}

#profilePicture {
	border-radius: 10px;
	margin-left: 25px;
	height: 150px;
	width: 150px;
}

.button {
	background-color: #F4F4F4;
	border-radius: 5px;
	/*height: 200px;*/
	width: 200px;
	display: block;
	float: left;
	margin: 5px;
	text-decoration: none;
}

.button a {
	text-decoration: none;
}

.toCourse {
	text-decoration: none;
};

#addCourse {
	background-color: #eee;
	text-decoration: none;
	color: #333;
	font-family: Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding: 3px 5px;
	height: 50px;
	border: 1px solid #aaa;
	border-radius: 3px;
	cursor: default;
	text-align: center;
	padding: 20px;
	width: 200px;
	float: left;
}

.courseInfo {
	font-family: Arial, sans-serif;
	font-size: 14px;
	float: center;
	color: #363737;
	background-color: #F4F4F4;
	border-radius: 10px;
	border: solid #F4F4F4 1px;
}

#bookApt {
	color: #454849;
	font-family: Tahoma, sans-serif;
	font-size: 25px;
	float: left;
	padding-left: 20px;
}

#block1 {
	width: 38%;
	height: 520px;
	float: left;
	position: relative;
}

#block2 {
	width: 62%;
	height: 520px;
	float: right;
	display: block;
	position: relative;
	margin-top: 100px;
}

#block3 {
	/*height: 320px;*/
	float: left;
	display: inline;
	position: relative;
}

#wave {
	height: 520px;
	width: 150px;
	float: center;
	margin-left: 5px;
}

/* SPECIFIC TO SCHEDULE */
th,td {
	margin: 0;
	text-align: center;
	border-collapse: collapse;
	outline: 1px solid #E1FFFF;
}

td {
	padding: 5px 10px;
}

th {
	background: #A5DCD6;
	color: #373436;
	padding: 5px 10px;
	border-radius: 5px;
}

/*td:hover {
	cursor: pointer;
	background: #666;
	color: black;
}

	
[contenteditable]:hover:after {
	content: ' click to edit';
	margin-left: 50px;
	font-style: italic;
	font-size: 12px;
	font-family: sans-serif;
	color: #D7D6D7;
	.text-stroke(0);
	border-radius: 1px;
}

	
[contenteditable]:hover, [contenteditable]:focus {
	background: #FFFFD3;
}

	
[contenteditable]:focus {
	padding: 5px;
}

	
[contenteditable]:focus:after {
	content: '';
}*/
.rights {
	position: relative;
	float: right;
	margin-top: 80px;
	width: 88%;
	height: 520px;
	background-color: white;
	margin-bottom: 10px;
	margin-right: 20px;
	border-radius: 5px;
}

.lefts {
	position: relative;
	float: left;
	margin-top: 80px;
	width: 10%;
	height: 520px;
	background-color: #F38630;
	margin-bottom: 10px;
	border-radius: 5px;
}

.unavailable {
	background-color: #F5FAFF;
}

.available {
	background-color: #6CF;
}

.booked {
	background-color: #FF9;
}